.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#mycanvas {
	border-width:px;
	background-color:  white;
	border-style:ridge ;
	border-color:darkviolet;
	
}


